---
Checks: "*,
        bugprone-*,
        -*-braces-around-statements,
        -*-const-correctness
        -*-inconsistent-ifelse-braces,
        -*-readability-namespace-comments,
        -*-non-const-parameter,
        -*-readability-braces-around-statements,
        -*-readability-todo,
        -*-redundant-member-init,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
#        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -fuchsia-*,
        -google-readability-braces-around-statements,
        -google-build-using-namespace,
        -google-default-arguments,
        -llvm-*,
        -llvmlibc-*,
        -misc-confusable-identifiers,
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,
        modernize-use-auto,
        -modernize-use-trailing-return-type,
        -readability-convert-member-functions-to-static,
        -readability-else-after-return,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
        -readability-magic-numbers,
        -readability-todo,
        -portability-avoid-pragma-once,
        -zircon-*,
"
CheckOptions:
  - key: modernize-use-auto.MinTypeNameLength
    value: '10'  # Adjust this: types shorter than 10 characters will stay explicit
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none
